In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# 1) a python program to display all the header tags from wikipedia.org

In [2]:
def scraping(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
    header=[]
    
    for i in soup.find_all('span',class_="mw-headline"):
        header.append(i.text)
    return header

In [3]:
scraping('https://en.wikipedia.org/wiki/Main_Page')

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# 2) Python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame.

In [4]:
url='https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'

In [5]:
def name(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    name=[]
    
    for i in soup.find_all('h3', class_="lister-item-header"):
        name.append(i.text.replace('\n',' ').split()[1:])
    return name

In [6]:
name(url)

[['The', 'Shawshank', 'Redemption', '(1994)'],
 ['The', 'Godfather', '(1972)'],
 ['The', 'Dark', 'Knight', '(2008)'],
 ['The',
  'Lord',
  'of',
  'the',
  'Rings:',
  'The',
  'Return',
  'of',
  'the',
  'King',
  '(2003)'],
 ["Schindler's", 'List', '(1993)'],
 ['The', 'Godfather:', 'Part', 'II', '(1974)'],
 ['12', 'Angry', 'Men', '(1957)'],
 ['The',
  'Lord',
  'of',
  'the',
  'Rings:',
  'The',
  'Fellowship',
  'of',
  'the',
  'Ring',
  '(2001)'],
 ['Pulp', 'Fiction', '(1994)'],
 ['Inception', '(2010)'],
 ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Two', 'Towers', '(2002)'],
 ['Fight', 'Club', '(1999)'],
 ['Forrest', 'Gump', '(1994)'],
 ['Il', 'buono,', 'il', 'brutto,', 'il', 'cattivo', '(1966)'],
 ['Spider-Man:', 'No', 'Way', 'Home', '(2021)'],
 ['Interstellar', '(2014)'],
 ['The', 'Matrix', '(1999)'],
 ['Goodfellas', '(1990)'],
 ['The', 'Empire', 'Strikes', 'Back', '(1980)'],
 ['One', 'Flew', 'Over', 'the', "Cuckoo's", 'Nest', '(1975)'],
 ['Shichinin', 'no', 'samurai', '(1954)'],
 ["It's", 'a', 'Wonderful', 'Life', '(1946)'],
 ['Cidade', 'de', 'Deus', '(2002)'],
 ['The', 'Pianist', '(2002)'],
 ['Sen', 'to', 'Chihiro', 'no', 'kamikakushi', '(2001)'],
 ['Saving', 'Private', 'Ryan', '(1998)'],
 ['The', 'Green', 'Mile', '(1999)'],
 ['La', 'vita', 'è', 'bella', '(1997)'],
 ['Se7en', '(1995)'],
 ['Léon', '(1994)'],
 ['Terminator', '2:', 'Judgment', 'Day', '(1991)'],
 ['The', 'Silence', 'of', 'the', 'Lambs', '(1991)'],
 ['Back', 'to', 'the', 'Future', '(1985)'],
 ['Star', 'Wars', '(1977)'],
 ['Seppuku', '(1962)'],
 ['Gisaengchung', '(2019)'],
 ['Avengers:', 'Infinity', 'War', '(2018)'],
 ['Whiplash', '(2014)'],
 ['Django', 'Unchained', '(2012)'],
 ['The', 'Intouchables', '(2011)'],
 ['3', 'Idiots', '(2009)'],
 ['The', 'Prestige', '(2006)'],
 ['The', 'Departed', '(2006)'],
 ['Memento', '(2000)'],
 ['Gladiator', '(2000)'],
 ['American', 'History', 'X', '(1998)'],
 ['The', 'Usual', 'Suspects', '(1995)'],
 ['The', 'Lion', 'King', '(1994)'],
 ['Nuovo', 'Cinema', 'Paradiso', '(1988)'],
 ['Hotaru', 'no', 'haka', '(1988)']]

In [7]:
def release(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    release=[]
    
    for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
        release.append(i.text.replace('\n',' '))
    return release

In [8]:
release(url)

['(1994)',
 '(1972)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1974)',
 '(1957)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1999)',
 '(1994)',
 '(1966)',
 '(2021)',
 '(2014)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(1954)',
 '(1946)',
 '(2002)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1994)',
 '(1991)',
 '(1991)',
 '(1985)',
 '(1977)',
 '(1962)',
 '(2019)',
 '(2018)',
 '(2014)',
 '(2012)',
 '(2011)',
 '(2009)',
 '(2006)',
 '(2006)',
 '(2000)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1988)',
 '(1988)']

In [9]:
def rating(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    rating=[]
    
    for i in soup.find_all('div',class_="inline-block ratings-imdb-rating"):
        rating.append(i.text.replace('\n',' '))
    return rating

In [10]:
rating(url)

['  9.3 ',
 '  9.2 ',
 '  9.1 ',
 '  9.0 ',
 '  9.0 ',
 '  9.0 ',
 '  9.0 ',
 '  8.9 ',
 '  8.9 ',
 '  8.8 ',
 '  8.8 ',
 '  8.8 ',
 '  8.8 ',
 '  8.8 ',
 '  8.7 ',
 '  8.7 ',
 '  8.7 ',
 '  8.7 ',
 '  8.7 ',
 '  8.7 ',
 '  8.7 ',
 '  8.7 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.6 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ',
 '  8.5 ']

In [11]:
df=pd.DataFrame({'Movie Name':name(url),'Release year':release(url),'Rating':rating(url)})
df

                                           Movie Name Release year  Rating
0                [The, Shawshank, Redemption, (1994)]       (1994)    9.3
1                            [The, Godfather, (1972)]       (1972)    9.2
2                         [The, Dark, Knight, (2008)]       (2008)    9.1
3   [The, Lord, of, the, Rings:, The, Return, of, ...       (2003)    9.0
4                         [Schindler's, List, (1993)]       (1993)    9.0
5                 [The, Godfather:, Part, II, (1974)]       (1974)    9.0
6                            [12, Angry, Men, (1957)]       (1957)    9.0
7   [The, Lord, of, the, Rings:, The, Fellowship, ...       (2001)    8.9
8                             [Pulp, Fiction, (1994)]       (1994)    8.9
9                                 [Inception, (2010)]       (2010)    8.8
10  [The, Lord, of, the, Rings:, The, Two, Towers,...       (2002)    8.8
11                              [Fight, Club, (1999)]       (1999)    8.8
12                            [Forrest, Gump, (1994)]       (1994)    8.8
13     [Il, buono,, il, brutto,, il, cattivo, (1966)]       (1966)    8.8
14               [Spider-Man:, No, Way, Home, (2021)]       (2021)    8.7
15                             [Interstellar, (2014)]       (2014)    8.7
16                              [The, Matrix, (1999)]       (1999)    8.7
17                               [Goodfellas, (1990)]       (1990)    8.7
18               [The, Empire, Strikes, Back, (1980)]       (1980)    8.7
19     [One, Flew, Over, the, Cuckoo's, Nest, (1975)]       (1975)    8.7
20                   [Shichinin, no, samurai, (1954)]       (1954)    8.7
21                 [It's, a, Wonderful, Life, (1946)]       (1946)    8.7
22                         [Cidade, de, Deus, (2002)]       (2002)    8.6
23                             [The, Pianist, (2002)]       (2002)    8.6
24        [Sen, to, Chihiro, no, kamikakushi, (2001)]       (2001)    8.6
25                    [Saving, Private, Ryan, (1998)]       (1998)    8.6
26                         [The, Green, Mile, (1999)]       (1999)    8.6
27                       [La, vita, è, bella, (1997)]       (1997)    8.6
28                                    [Se7en, (1995)]       (1995)    8.6
29                                     [Léon, (1994)]       (1994)    8.6
30            [Terminator, 2:, Judgment, Day, (1991)]       (1991)    8.6
31             [The, Silence, of, the, Lambs, (1991)]       (1991)    8.6
32                    [Back, to, the, Future, (1985)]       (1985)    8.6
33                               [Star, Wars, (1977)]       (1977)    8.6
34                                  [Seppuku, (1962)]       (1962)    8.6
35                             [Gisaengchung, (2019)]       (2019)    8.5
36                 [Avengers:, Infinity, War, (2018)]       (2018)    8.5
37                                 [Whiplash, (2014)]       (2014)    8.5
38                        [Django, Unchained, (2012)]       (2012)    8.5
39                        [The, Intouchables, (2011)]       (2011)    8.5
40                                [3, Idiots, (2009)]       (2009)    8.5
41                            [The, Prestige, (2006)]       (2006)    8.5
42                            [The, Departed, (2006)]       (2006)    8.5
43                                  [Memento, (2000)]       (2000)    8.5
44                                [Gladiator, (2000)]       (2000)    8.5
45                     [American, History, X, (1998)]       (1998)    8.5
46                     [The, Usual, Suspects, (1995)]       (1995)    8.5
47                          [The, Lion, King, (1994)]       (1994)    8.5
48                  [Nuovo, Cinema, Paradiso, (1988)]       (1988)    8.5
49                         [Hotaru, no, haka, (1988)]       (1988)    8.5

# 3) Python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [12]:
url='https://www.imdb.com/list/ls056092300/'

In [13]:
def name(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    name=[]
    
    for i in soup.find_all('h3', class_="lister-item-header"):
        name.append(i.text.replace('\n',' ').split()[1:])
    return name

In [14]:
name(url)

[['Ship', 'of', 'Theseus', '(2012)'],
 ['Iruvar', '(1997)'],
 ['Kaagaz', 'Ke', 'Phool', '(1959)'],
 ['Lagaan:', 'Once', 'Upon', 'a', 'Time', 'in', 'India', '(2001)'],
 ['Pather', 'Panchali', '(1955)'],
 ['Charulata', '(1964)'],
 ['Rang', 'De', 'Basanti', '(2006)'],
 ['Dev.D', '(2009)'],
 ['3', 'Idiots', '(2009)'],
 ['Awaara', '(1951)'],
 ['Nayakan', '(1987)'],
 ['Aparajito', '(1956)'],
 ['Pushpaka', 'Vimana', '(1987)'],
 ['Pyaasa', '(1957)'],
 ['Ghatashraddha', '(1977)'],
 ['Sholay', '(1975)'],
 ['Aradhana', '(1969)'],
 ['Do', 'Ankhen', 'Barah', 'Haath', '(1957)'],
 ['Bombay', '(1995)'],
 ['Neecha', 'Nagar', '(1946)'],
 ['Do', 'Bigha', 'Zamin', '(1953)'],
 ['Garm', 'Hava', '(1974)'],
 ['Piravi', '(1989)'],
 ['Mughal-E-Azam', '(1960)'],
 ['Amma', 'Ariyan', '(1986)'],
 ['Madhumati', '(1958)'],
 ['Goopy', 'Gyne', 'Bagha', 'Byne', '(1969)'],
 ['Gangs', 'of', 'Wasseypur', '(2012)'],
 ['Guide', '(1965)'],
 ['Satya', '(1998)'],
 ['Roja', '(1992)'],
 ['Mr.', 'India', '(1987)'],
 ['The', 'Cloud-Capped', 'Star', '(1960)'],
 ['Harishchandrachi', 'Factory', '(2009)'],
 ['Masoom', '(1983)'],
 ['Agneepath', '(1990)'],
 ['Tabarana', 'Kathe', '(1986)'],
 ['Zakhm', '(1998)'],
 ['Dil', 'Chahta', 'Hai', '(2001)'],
 ['Bhaag', 'Milkha', 'Bhaag', '(2013)'],
 ['Chupke', 'Chupke', '(1975)'],
 ['Dilwale', 'Dulhania', 'Le', 'Jayenge', '(1995)'],
 ['Taare', 'Zameen', 'Par', '(2007)'],
 ['Ardh', 'Satya', '(1983)'],
 ['Bhumika', '(1977)'],
 ['Enthiran', '(2010)'],
 ['Sadma', '(1983)'],
 ['Shwaas', '(2004)'],
 ['Lamhe', '(1991)'],
 ['Haqeeqat', '(1964)'],
 ['Shree', '420', '(1955)'],
 ['Kannathil', 'Muthamittal', '(2002)'],
 ['Hum', 'Aapke', 'Hain', 'Koun..!', '(1994)'],
 ['Ustad', 'Hotel', '(2012)'],
 ['Bandit', 'Queen', '(1994)'],
 ['Lakshya', '(2004)'],
 ['Black', 'Friday', '(2004)'],
 ['Manthan', '(1976)'],
 ['Apoorva', 'Raagangal', '(1975)'],
 ['English', 'Vinglish', '(2012)'],
 ['Jewel', 'Thief', '(1967)'],
 ['Pakeezah', '(1972)'],
 ['Maqbool', '(2003)'],
 ['Jis', 'Desh', 'Men', 'Ganga', 'Behti', 'Hai', '(1960)'],
 ['Sahib', 'Bibi', 'Aur', 'Ghulam', '(1962)'],
 ['Shatranj', 'Ke', 'Khilari', '(1977)'],
 ['Narthanasala', '(1963)'],
 ['Chandni', 'Bar', '(2001)'],
 ['Vaaranam', 'Aayiram', '(2008)'],
 ['Mr.', 'and', 'Mrs.', 'Iyer', '(2002)'],
 ['Chandni', '(1989)'],
 ['English,', 'August', '(1994)'],
 ['Celluloid', '(2013)'],
 ['Sagara', 'Sangamam', '(1983)'],
 ['Munna', 'Bhai', 'M.B.B.S.', '(2003)'],
 ['Saaransh', '(1984)'],
 ['Guddi', '(1971)'],
 ['Vanaja', '(2006)'],
 ['Vazhakku', 'Enn', '18/9', '(2012)'],
 ['Gangaajal', '(2003)'],
 ['Angoor', '(1982)'],
 ['Guru', '(2007)'],
 ['Andaz', 'Apna', 'Apna', '(1994)'],
 ['Sangam', '(I)', '(1964)'],
 ['Oka', 'Oori', 'Katha', '(1978)'],
 ['Bhuvan', 'Shome', '(1969)'],
 ['Border', '(I)', '(1997)'],
 ['Parineeta', '(2005)'],
 ['Devdas', '(1955)'],
 ['Abohomaan', '(2009)'],
 ['Kuch', 'Kuch', 'Hota', 'Hai', '(1998)'],
 ['Pithamagan', '(2003)'],
 ['Veyyil', '(2006)'],
 ['Chemmeen', '(1965)'],
 ['Jaane', 'Bhi', 'Do', 'Yaaro', '(1983)'],
 ['Apur', 'Sansar', '(1959)'],
 ['Kanchivaram', '(2008)'],
 ['Monsoon', 'Wedding', '(2001)'],
 ['Black', '(2005)'],
 ['Deewaar', '(1975)']]

In [15]:
def rating(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    rating=[]
    
    for i in soup.find_all('div',class_="ipl-rating-star small"):
        rating.append(i.text.replace('\n',' '))
    return rating

In [16]:
rating(url)

['        8 ',
 '        8.5 ',
 '        7.8 ',
 '        8.1 ',
 '        8.4 ',
 '        8.1 ',
 '        8.1 ',
 '        8 ',
 '        8.5 ',
 '        7.8 ',
 '        8.7 ',
 '        8.3 ',
 '        8.6 ',
 '        8.3 ',
 '        7.6 ',
 '        8.1 ',
 '        7.6 ',
 '        8.4 ',
 '        8.1 ',
 '        6.8 ',
 '        8.2 ',
 '        8.1 ',
 '        7.8 ',
 '        8.2 ',
 '        7.1 ',
 '        7.8 ',
 '        8.7 ',
 '        8.2 ',
 '        8.4 ',
 '        8.3 ',
 '        8.2 ',
 '        7.8 ',
 '        7.9 ',
 '        8.4 ',
 '        8.4 ',
 '        7.6 ',
 '        7.9 ',
 '        7.9 ',
 '        8.1 ',
 '        8.3 ',
 '        8.3 ',
 '        8.2 ',
 '        8.4 ',
 '        8.1 ',
 '        7.4 ',
 '        7.1 ',
 '        8.3 ',
 '        8.2 ',
 '        7.3 ',
 '        7.9 ',
 '        7.9 ',
 '        8.4 ',
 '        7.5 ',
 '        8.3 ',
 '        7.5 ',
 '        7.9 ',
 '        8.5 ',
 '        7.6 ',
 '        7.6 ',
 '        7.9 ',
 '        7.9 ',
 '        7.2 ',
 '        8.1 ',
 '        7.1 ',
 '        8.1 ',
 '        7.5 ',
 '        8 ',
 '        7.6 ',
 '        8.4 ',
 '        7.9 ',
 '        6.7 ',
 '        7.6 ',
 '        7.8 ',
 '        8.9 ',
 '        8.1 ',
 '        8.1 ',
 '        7.2 ',
 '        7.2 ',
 '        8.3 ',
 '        7.8 ',
 '        8.3 ',
 '        7.7 ',
 '        8.1 ',
 '        7.3 ',
 '        7.7 ',
 '        7.3 ',
 '        8 ',
 '        7.2 ',
 '        7.7 ',
 '        7.4 ',
 '        7.7 ',
 '        8.4 ',
 '        7.8 ',
 '        7.8 ',
 '        8.4 ',
 '        8.5 ',
 '        8.1 ',
 '        7.3 ',
 '        8.2 ',
 '        8 ']

In [17]:
def release(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    release=[]
    
    for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
        release.append(i.text.replace('\n',' '))
    return release

In [18]:
release(url)

['(2012)',
 '(1997)',
 '(1959)',
 '(2001)',
 '(1955)',
 '(1964)',
 '(2006)',
 '(2009)',
 '(2009)',
 '(1951)',
 '(1987)',
 '(1956)',
 '(1987)',
 '(1957)',
 '(1977)',
 '(1975)',
 '(1969)',
 '(1957)',
 '(1995)',
 '(1946)',
 '(1953)',
 '(1974)',
 '(1989)',
 '(1960)',
 '(1986)',
 '(1958)',
 '(1969)',
 '(2012)',
 '(1965)',
 '(1998)',
 '(1992)',
 '(1987)',
 '(1960)',
 '(2009)',
 '(1983)',
 '(1990)',
 '(1986)',
 '(1998)',
 '(2001)',
 '(2013)',
 '(1975)',
 '(1995)',
 '(2007)',
 '(1983)',
 '(1977)',
 '(2010)',
 '(1983)',
 '(2004)',
 '(1991)',
 '(1964)',
 '(1955)',
 '(2002)',
 '(1994)',
 '(2012)',
 '(1994)',
 '(2004)',
 '(2004)',
 '(1976)',
 '(1975)',
 '(2012)',
 '(1967)',
 '(1972)',
 '(2003)',
 '(1960)',
 '(1962)',
 '(1977)',
 '(1963)',
 '(2001)',
 '(2008)',
 '(2002)',
 '(1989)',
 '(1994)',
 '(2013)',
 '(1983)',
 '(2003)',
 '(1984)',
 '(1971)',
 '(2006)',
 '(2012)',
 '(2003)',
 '(1982)',
 '(2007)',
 '(1994)',
 '(I) (1964)',
 '(1978)',
 '(1969)',
 '(I) (1997)',
 '(2005)',
 '(1955)',
 '(2009)',
 '(1998)',
 '(2003)',
 '(2006)',
 '(1965)',
 '(1983)',
 '(1959)',
 '(2008)',
 '(2001)',
 '(2005)',
 '(1975)']

In [19]:
df=pd.DataFrame({'Movie Name':name(url),'Release year':release(url),'Rating':rating(url)})
df

,Movie Name,Release year,Rating
0,"[Ship, of, Theseus, (2012)]",(2012),8
1,"[Iruvar, (1997)]",(1997),8.5
2,"[Kaagaz, Ke, Phool, (1959)]",(1959),7.8
3,"[Lagaan:, Once, Upon, a, Time, in, India, (2001)]",(2001),8.1
4,"[Pather, Panchali, (1955)]",(1955),8.4
...,...,...,...
95,"[Apur, Sansar, (1959)]",(1959),8.5
96,"[Kanchivaram, (2008)]",(2008),8.1
97,"[Monsoon, Wedding, (2001)]",(2001),7.3
98,"[Black, (2005)]",(2005),8.2
99,"[Deewaar, (1975)]",(1975),8

# 4) Python Program to scrape product name, price and discounts from https://meesho.com/bags-ladies/pl/p7vbp

In [20]:
url=('https://meesho.com/bags-ladies/pl/p7vbp')

In [21]:
def name(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    name=[]
    
    for i in soup.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
        name.append(i.text.replace('\n',' '))
    return name

In [22]:
name(url)

['Voguish Fashionable Women Handbags',
 'Elegant Stylish Women Handbags',
 'Gorgeous Classy Women Handbags',
 "Elegant Fancy Women'S Pu Leather Hand Bags",
 "Elegant Fancy Women's Bags",
 'Ravishing Alluring Women Handbags',
 'Voguish Fashionable Women Handbags',
 'Trendy Fancy Women Handbags',
 'Gorgeous Versatile Women Handbags',
 'Gorgeous Attractive Women Handbags',
 'Elite Fancy Women Handbags',
 'Attractive Women Handbags',
 'Wonderful Women Women Handbags',
 'Elite Fancy Women Handbags',
 'Ravishing Versatile Women Handbags',
 'Trendy Attractive Women Handbags',
 'Classic Attractive Women Handbag',
 'Elegant Stylish Women Handbags',
 'Graceful Attractive Women Handbags',
 'Voguish Alluring Women Handbags']

In [23]:
def price(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    price=[]
    
    for i in soup.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
        price.append(i.text)
    return price

In [24]:
price(url)

['₹851',
 '₹186',
 '₹193',
 '₹175',
 '₹189',
 '₹130',
 '₹254',
 '₹210',
 '₹222',
 '₹196',
 '₹140',
 '₹197',
 '₹217',
 '₹260',
 '₹260',
 '₹207',
 '₹204',
 '₹182',
 '₹133',
 '₹517']

In [25]:
def discount(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    discount=[]
    
    for i in soup.find_all('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH"):
        discount.append(i.text.split()[:1])
    return discount

In [26]:
discount(url)

[['11%'],
 ['30%'],
 ['30%'],
 ['30%'],
 ['30%'],
 ['30%'],
 ['28%'],
 ['30%'],
 ['30%'],
 ['30%'],
 ['30%'],
 ['30%'],
 ['30%'],
 ['28%'],
 ['28%'],
 ['30%'],
 ['30%'],
 ['30%'],
 ['30%'],
 ['16%']]

In [27]:
df=pd.DataFrame({'Product Name':name(url),'Price':price(url),'Discount':discount(url)})
df

                                  Product Name Price Discount
0           Voguish Fashionable Women Handbags  ₹851    [11%]
1               Elegant Stylish Women Handbags  ₹186    [30%]
2               Gorgeous Classy Women Handbags  ₹193    [30%]
3   Elegant Fancy Women'S Pu Leather Hand Bags  ₹175    [30%]
4                   Elegant Fancy Women's Bags  ₹189    [30%]
5            Ravishing Alluring Women Handbags  ₹130    [30%]
6           Voguish Fashionable Women Handbags  ₹254    [28%]
7                  Trendy Fancy Women Handbags  ₹210    [30%]
8            Gorgeous Versatile Women Handbags  ₹222    [30%]
9           Gorgeous Attractive Women Handbags  ₹196    [30%]
10                  Elite Fancy Women Handbags  ₹140    [30%]
11                   Attractive Women Handbags  ₹197    [30%]
12              Wonderful Women Women Handbags  ₹217    [30%]
13                  Elite Fancy Women Handbags  ₹260    [28%]
14          Ravishing Versatile Women Handbags  ₹260    [28%]
15            Trendy Attractive Women Handbags  ₹207    [30%]
16            Classic Attractive Women Handbag  ₹204    [30%]
17              Elegant Stylish Women Handbags  ₹182    [30%]
18          Graceful Attractive Women Handbags  ₹133    [30%]
19             Voguish Alluring Women Handbags  ₹517    [16%]

# 5) a python program to scrape cricket rankings from https://www.icc-cricket.com/rankings/mens/player-rankings/test

In [28]:
url=('https://www.icc-cricket.com/rankings/mens/team-rankings/test')

In [29]:
# a)
def teams(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    teams=[]
    
    for i in soup.find_all('td',class_="rankings-block__banner--team-name"):
        teams.append(i.text.replace('\n',' '))
    return teams

teams(url)

['  Australia AUS ']

In [30]:
def matches(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    matches=[]
    
    for i in soup.find_all('td',class_="rankings-block__banner--matches"):
        matches.append(i.text)
    return matches

matches(url)

def points(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    points=[]
    
    for i in soup.find_all('td',class_="rankings-block__banner--points"):
        points.append(i.text)
    return points
points(url)

def rating(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    rating=[]
    
    for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
        rating.append(i.text.split()[0])
    return rating
rating(url)


print(teams(url),matches(url),points(url),rating(url))

['  Australia AUS '] ['23'] ['2,736'] ['119']

In [31]:
print( teams(url),matches(url),points(url),rating(url))
def other_teams(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    other_teams=[]
    
    for i in soup.find_all('tr',class_="table-body"):
        other_teams.append(i.text.replace('\n',' '))
    return other_teams
other_teams(url)

['  Australia AUS '] ['23'] ['2,736'] ['119']

[' 2   New Zealand NZ  28 3,264 117 ',
 ' 3   India IND  32 3,717 116 ',
 ' 4   England ENG  41 4,151 101 ',
 ' 5   South Africa SA  23 2,271 99 ',
 ' 6   Pakistan PAK  30 2,787 93 ',
 ' 7   Sri Lanka SL  30 2,485 83 ',
 ' 8   West Indies WI  33 2,480 75 ',
 ' 9   Bangladesh BAN  22 1,157 53 ',
 ' 10   Zimbabwe ZIM  11 342 31 ']

In [32]:
#b)
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
def batsmen(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    batsmen=[]
    
    for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
        batsmen.append(i.text)
    return batsmen
batsmen(url)

def teams(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    teams=[]
    
    for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
        teams.append(i.text.replace('\n',' ').split()[0])
    return teams

teams(url)

def rating(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    rating=[]
    
    for i in soup.find_all('td',class_="u-text-left"):
        rating.append(i.text.split()[0])
    return rating
rating(url)

print(batsmen(url),teams(url),rating(url))

['Babar Azam'] ['PAK'] ['873']

In [33]:
print(batsmen(url),teams(url),rating(url))
def other_players(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    other_players=[]
    
    for i in soup.find_all('tr',class_="table-body"):
        other_players.append(i.text.replace('\n',' ').split()[2:6])
    return other_players
other_players(url)

['Babar Azam'] ['PAK'] ['873']

[['Virat', 'Kohli', 'IND', '811'],
 ['Rohit', 'Sharma', 'IND', '791'],
 ['Quinton', 'de', 'Kock', 'SA'],
 ['Aaron', 'Finch', 'AUS', '779'],
 ['Jonny', 'Bairstow', 'ENG', '775'],
 ['David', 'Warner', 'AUS', '762'],
 ['Rassie', 'van', 'der', 'Dussen'],
 ['Fakhar', 'Zaman', 'PAK', '741'],
 ['Joe', 'Root', 'ENG', '740'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Steve', 'Smith', 'AUS', '696'],
 ['Jason', 'Roy', 'ENG', '687'],
 ['Glenn', 'Maxwell', 'AUS', '674'],
 ['Tamim', 'Iqbal', 'BAN', '670'],
 ['Alex', 'Carey', 'AUS', '669'],
 ['Paul', 'Stirling', 'IRE', '660'],
 ['Ben', 'Stokes', 'ENG', '651'],
 ['Eoin', 'Morgan', 'ENG', '650'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Tom', 'Latham', 'NZ', '624'],
 ['David', 'Miller', 'SA', '618'],
 ['Jos', 'Buttler', 'ENG', '608'],
 ['Janneman', 'Malan', 'SA', '594'],
 ['Haris', 'Sohail', 'PAK', '594'],
 ['Shimron', 'Hetmyer', 'WI', '589'],
 ['Henry', 'Nicholls', 'NZ', '581'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Mahmudullah', 'BAN', '571', '582'],
 ['Aqib', 'Ilyas', 'OMA', '565'],
 ['Avishka', 'Fernando', 'SL', '560'],
 ['Sean', 'Williams', 'ZIM', '559'],
 ['Litton', 'Das', 'BAN', '558'],
 ['Kariyawasa', 'Asalanka', 'SL', '546'],
 ['Harry', 'Tector', 'IRE', '544'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Sikandar', 'Raza', 'ZIM', '540'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Hashmatullah', 'Shaidi', 'AFG', '528'],
 ['Imad', 'Wasim', 'PAK', '525'],
 ['Danushka', 'Gunathilaka', 'SL', '522'],
 ['Soumya', 'Sarkar', 'BAN', '521'],
 ['Marcus', 'Stoinis', 'AUS', '517'],
 ['Najibullah', 'Zadran', 'AFG', '517'],
 ['Temba', 'Bavuma', 'SA', '512'],
 ['Kusal', 'Mendis', 'SL', '511'],
 ['Sarfaraz', 'Ahmed', 'PAK', '504'],
 ['Calum', 'MacLeod', 'SCO', '500'],
 ['Marnus', 'Labuschagne', 'AUS', '498'],
 ['Jimmy', 'Neesham', 'NZ', '495'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Mohammad', 'Rizwan', 'PAK', '414'],
 ['Dinesh', 'Chandimal', 'SL', '414'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Gulbadin', 'Naib', 'AFG', '406'],
 ['Matthew', 'Cross', 'SCO', '405'],
 ['Moeen', 'Ali', 'ENG', '404'],
 ['Curtis', 'Campher', 'IRE', '403'],
 ['Chris', 'Woakes', 'ENG', '403'],
 ['Scott', 'Edwards', 'NED', '402'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Craig', 'Williams', 'NAM', '399'],
 ['Sam', 'Billings', 'ENG', '396'],
 ['Monank', 'Patel', 'USA', '394'],
 ['Jatinder', 'Singh', 'OMA', '394'],
 ['Rahmanullah', 'Gurbaz', 'AFG', '393']]

In [34]:
#c)
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

def bowlers(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    bowlers=[]
    
    for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
        bowlers.append(i.text)
    return bowlers
bowlers(url)

def teams(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    teams=[]
    
    for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
        teams.append(i.text.replace('\n',' ').split()[0])
    return teams

teams(url)

def rating(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    rating=[]
    
    for i in soup.find_all('td',class_="u-text-left"):
        rating.append(i.text.split()[0])
    return rating
rating(url)

print(batsmen(url),teams(url),rating(url))

['Trent Boult'] ['NZ'] ['737']

In [35]:
print(batsmen(url),teams(url),rating(url))
def other_players(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    other_players=[]
    
    for i in soup.find_all('tr',class_="table-body"):
        other_players.append(i.text.replace('\n',' ').split()[2:6])
    return other_players
other_players(url)

['Trent Boult'] ['NZ'] ['737']

[['Josh', 'Hazlewood', 'AUS', '709'],
 ['Chris', 'Woakes', 'ENG', '700'],
 ['Mujeeb', 'Ur', 'Rahman', 'AFG'],
 ['Mehedi', 'Hasan', 'BAN', '692'],
 ['Matt', 'Henry', 'NZ', '691'],
 ['Jasprit', 'Bumrah', 'IND', '679'],
 ['Mitchell', 'Starc', 'AUS', '652'],
 ['Shakib', 'Al', 'Hasan', 'BAN'],
 ['Andy', 'McBrine', 'IRE', '646'],
 ['Mustafizur', 'Rahman', 'BAN', '640'],
 ['Pat', 'Cummins', 'AUS', '636'],
 ['Kagiso', 'Rabada', 'SA', '633'],
 ['Shaheen', 'Afridi', 'PAK', '630'],
 ['Rashid', 'Khan', 'AFG', '626'],
 ['Adam', 'Zampa', 'AUS', '625'],
 ['Yuzvendra', 'Chahal', 'IND', '610'],
 ['Lungi', 'Ngidi', 'SA', '608'],
 ['Mark', 'Wood', 'ENG', '594'],
 ['This', 'player', 'has', 'moved'],
 ['Mohammad', 'Nabi', 'AFG', '587'],
 ['This', 'player', 'has', 'moved'],
 ['Mitchell', 'Santner', 'NZ', '583'],
 ['Akila', 'Dananjaya', 'SL', '574'],
 ['Tabraiz', 'Shamsi', 'SA', '564'],
 ['Mohammad', 'Shami', 'IND', '549'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Ravindra', 'Jadeja', 'IND', '534'],
 ['Keshav', 'Maharaj', 'SA', '534'],
 ['Sheldon', 'Cottrell', 'WI', '525'],
 ['Wanindu', 'Hasaranga', 'SL', '523'],
 ['Mark', 'Watt', 'SCO', '519'],
 ['Shadab', 'Khan', 'PAK', '517'],
 ['David', 'Willey', 'ENG', '501'],
 ['Simi', 'Singh', 'IRE', '499'],
 ['Dwaine', 'Pretorius', 'SA', '497'],
 ['Adil', 'Rashid', 'ENG', '497'],
 ['Imad', 'Wasim', 'PAK', '488'],
 ['Rohan', 'Mustafa', 'UAE', '484'],
 ['Blessing', 'Muzarabani', 'ZIM', '484'],
 ['Hasan', 'Ali', 'PAK', '483'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Tom', 'Curran', 'ENG', '436'],
 ['Safyaan', 'Sharif', 'SCO', '436'],
 ['Ashton', 'Agar', 'AUS', '436'],
 ['Taskin', 'Ahmed', 'BAN', '434'],
 ['Suranga', 'Lakmal', 'SL', '429'],
 ['Anrich', 'Nortje', 'SA', '423'],
 ['Saurabh', 'Netravalkar', 'USA', '419'],
 ['Ben', 'Stokes', 'ENG', '410'],
 ['Alasdair', 'Evans', 'SCO', '408'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Sean', 'Williams', 'ZIM', '401'],
 ['Sandeep', 'Lamichhane', 'NEP', '400'],
 ['Rubel', 'Hossain', 'BAN', '400'],
 ['Chad', 'Soper', 'PNG', '397'],
 ['Fred', 'Klaassen', 'NED', '395'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Mitchell', 'Marsh', 'AUS', '390'],
 ['Hardik', 'Pandya', 'IND', '382'],
 ['Ravichandran', 'Ashwin', 'IND', '381'],
 ['Wayne', 'Parnell', 'SA', '381'],
 ['Maheesh', 'Theekshana', 'SL', '380'],
 ['Nosaina', 'Pokana', 'PNG', '380'],
 ['Barry', 'McCarthy', 'IRE', '379'],
 ['Marcus', 'Stoinis', 'AUS', '377'],
 ['Michael', 'Leask', 'SCO', '374'],
 ['Mohammad', 'Nawaz', 'PAK', '370'],
 ['Assad', 'Vala', 'PNG', '370'],
 ['Jeffrey', 'Vandersay', 'SL', '365'],
 ['Lakshan', 'Sandakan', 'SL', '365'],
 ['Richard', 'Ngarava', 'ZIM', '364'],
 ['Kaleemullah', 'OMA', '364', '364'],
 ['Roston', 'Chase', 'WI', '362'],
 ['Zahoor', 'Khan', 'UAE', '361'],
 ['Sharafuddin', 'Ashraf', 'AFG', '361'],
 ['Mark', 'Adair', 'IRE', '357'],
 ['Donald', 'Tiripano', 'ZIM', '356'],
 ['George', 'Dockrell', 'IRE', '353'],
 ['Kyle', 'Jamieson', 'NZ', '352']]

# 6) a python program to scrape cricket rankings from https://www.icc-cricket.com/rankings/womens/player-rankings/odi

In [36]:
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [37]:
#a)
def teams(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    teams=[]
    
    for i in soup.find_all('td',class_="rankings-block__banner--team-name"):
        teams.append(i.text.replace('\n',' '))
    return teams

teams(url)

['  Australia AUS ']

In [38]:
def matches(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    matches=[]
    
    for i in soup.find_all('td',class_="rankings-block__banner--matches"):
        matches.append(i.text)
    return matches

matches(url)

def points(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    points=[]
    
    for i in soup.find_all('td',class_="rankings-block__banner--points"):
        points.append(i.text)
    return points
points(url)

def rating(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    rating=[]
    
    for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
        rating.append(i.text.split()[0])
    return rating
rating(url)


print(teams(url),matches(url),points(url),rating(url))

['  Australia AUS '] ['20'] ['3,263'] ['163']

In [39]:
print( teams(url),matches(url),points(url),rating(url))
def other_teams(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    other_teams=[]
    
    for i in soup.find_all('tr',class_="table-body"):
        other_teams.append(i.text.replace('\n',' '))
    return other_teams
other_teams(url)

['  Australia AUS '] ['20'] ['3,263'] ['163']

[' 2   South Africa SA  21 2,580 123 ',
 ' 3   England ENG  21 2,474 118 ',
 ' 4   India IND  22 2,221 101 ',
 ' 5   New Zealand NZ  24 2,342 98 ',
 ' 6   Bangladesh BAN  5 475 95 ',
 ' 7   West Indies WI  21 1,801 86 ',
 ' 8   Pakistan PAK  19 1,304 69 ',
 ' 9   Ireland IRE  5 240 48 ',
 ' 10   Sri Lanka SL  5 233 47 ',
 ' 11   Zimbabwe ZIM  8 0 0 ']

In [40]:
#b
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
def batsmen(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    batsmen=[]
    
    for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
        batsmen.append(i.text)
    return batsmen
batsmen(url)

def teams(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    teams=[]
    
    for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
        teams.append(i.text.replace('\n',' ').split()[0])
    return teams

teams(url)

def rating(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    rating=[]
    
    for i in soup.find_all('td',class_="u-text-left"):
        rating.append(i.text.split()[0])
    return rating
rating(url)

print(batsmen(url),teams(url),rating(url))

['Alyssa Healy'] ['AUS'] ['749']

In [41]:
print(batsmen(url),teams(url),rating(url))
def other_players(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    other_players=[]
    
    for i in soup.find_all('tr',class_="table-body"):
        other_players.append(i.text.replace('\n',' ').split()[2:6])
    return other_players
other_players(url)

['Alyssa Healy'] ['AUS'] ['749']

[['Mithali', 'Raj', 'IND', '735'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Rachael', 'Haynes', 'AUS', '640'],
 ['Heather', 'Knight', 'ENG', '629'],
 ['Mignon', 'du', 'Preez', 'SA'],
 ['Deandra', 'Dottin', 'WI', '616'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Ashleigh', 'Gardner', 'AUS', '509'],
 ['Aliya', 'Riaz', 'PAK', '504'],
 ['Marizanne', 'Kapp', 'SA', '496'],
 ['Poonam', 'Raut', 'IND', '485'],
 ['Rumana', 'Ahmed', 'BAN', '476'],
 ['Nahida', 'Khan', 'PAK', '458'],
 ['Javeria', 'Khan', 'PAK', '457'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Gaby', 'Lewis', 'IRE', '438'],
 ['Danielle', 'Wyatt', 'ENG', '438'],
 ['Nida', 'Dar', 'PAK', '425'],
 ['Katherine', 'Brunt', 'ENG', '422'],
 ['Chloe-Lesleigh', 'Tryon', 'SA', '416'],
 ['Lauren', 'Winfield', 'ENG', '414'],
 ['Sune', 'Luus', 'SA', '414'],
 ['Tahlia', 'McGrath', 'AUS', '405'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Katey', 'Martin', 'NZ', '380'],
 ['This', 'player', 'has', 'moved'],
 ['Umaima', 'Sohail', 'PAK', '369'],
 ['This', 'player', 'has', 'moved'],
 ['Jess', 'Jonassen', 'AUS', '346'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Muneeba', 'Ali', 'PAK', '320'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Murshida', 'Khatun', 'BAN', '300'],
 ['Tazmin', 'Brits', 'SA', '291'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Shemaine', 'Campbelle', 'WI', '276'],
 ['Lara', 'Goodall', 'SA', '266'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Sabbhineni', 'Meghana', 'IND', '250'],
 ['This', 'player', 'has', 'moved'],
 ['Mary', 'Waldron', 'IRE', '248'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Sidra', 'Ameen', 'PAK', '233'],
 ['Ritu', 'Moni', 'BAN', '231'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Georgia', 'Wareham', 'AUS', '223'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Eimear', 'Richardson', 'IRE', '217'],
 ['Poonam', 'Yadav', 'IND', '211'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Sinalo', 'Jafta', 'SA', '206'],
 ['Sophie', 'Ecclestone', 'ENG', '204'],
 ['Rashada', 'Williams', 'WI', '203'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['This', 'player', 'has', 'moved'],
 ['Orla', 'Prendergast', 'IRE', '193']]

In [42]:
#c 
# NO TEST DATA AVAILABLE ON THE SITE
url='https://www.icc-cricket.com/rankings/womens/player-rankings/468'

def bowlers(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    bowlers=[]
    
    for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
        bowlers.append(i.text)
    return bowlers
bowlers(url)

def teams(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    teams=[]
    
    for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
        teams.append(i.text.replace('\n',' ').split()[0])
    return teams

teams(url)

def rating(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    rating=[]
    
    for i in soup.find_all('td',class_="u-text-left"):
        rating.append(i.text.split()[0])
    return rating
rating(url)

print(batsmen(url),teams(url),rating(url))

[] [] []

# 7) a python program to scrape details of all the posts from https://coreyms.com/

In [43]:
url=('https://coreyms.com/')

In [44]:
def heading(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    heading=[]
    
    for i in soup.find_all('a', class_="entry-title-link"):
        heading.append(i.text)
    return heading

In [45]:
heading(url)

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [46]:
def date(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    date=[]
    
    for i in soup.find_all('time', class_="entry-time"):
        date.append(i.text)
    return date

In [47]:
date(url)

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [48]:
def content(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    content=[]
    
    for i in soup.find_all('div',class_="entry-content"):
        content.append(i.text.replace('\n',' '))
    return content

In [49]:
content(url)

[' In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…  ',
 ' In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…    ',
 ' In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…    ',
 ' In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…    ',
 ' Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube  ',
 ' In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…    ',
 ' In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…    ',
 ' In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started… VSCode on MacOS – https://youtu.be/06I63_p-2A4 Timestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55    ',
 ' In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started… VSCode on Windows – https://youtu.be/-nh9rCzPJ20 Timestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42     ',
 ' In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…    ']

In [50]:
def video(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    video=[]
    
    for i in soup.find_all('iframe',class_="youtube-player"):
        video.append(i['src'])
    return video

In [51]:
video(url)

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

In [52]:
df=pd.DataFrame({'Heading':heading(url),'Date':date(url),'Content':content(url)})
df

,Heading,Date,Content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to cre..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be ..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be ..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be ..."
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update ...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will ..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will ..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will ..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will ..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will ..."

# 8) a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [53]:
url=('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d')

In [54]:
def title(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    title=[]
    
    for i in soup.find_all('span' ,class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
        title.append(i.text)

    return title

In [55]:
title(url)

['3 BHK Apartment  For Sale  In Ashiana Gardens Apartments In Indiranagar',
 '3 BHK Flat  For Sale  In Sobha Indraprastha, Rajaji Nagar In Rajaji Nagar',
 '2 BHK In Independent House  For Sale  In 9th Block Jayanagara',
 '3 BHK Flat  For Sale  In  Sgrr Pallavi Pristine In Jayanagar',
 '3 BHK Flat  For Sale  In Total Environment Life Is Beautiful, Jayanagar In Jayanagar']

In [56]:
def location(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    location=[]
    
    for i in soup.find_all('div', class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
        location.append(i.text)

    return location

In [57]:
location(url)

['Ashiana Gardens Apartments\xa0 4, Sri Rama Temple Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Minerva Mills Compound,Opposite Sujata Theatre, Rajaji Nagar, Bengaluru, Karnataka 560023, India',
 'Independent House, 41 A Cross, 18th Main, Jayanagar 9th Block, BLR-560041',
 '11th Main Road,36 Cross, 4th T Block, Near ,Post office, Jayanagar HPO',
 '30th Cross Rd, 4th T Block , Jayanagar, Bengaluru, Karnataka 560041, India']

In [58]:
def emi(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    emi=[]
    
    for i in soup.find_all('div',class_="font-semi-bold heading-6"):
        emi.append(i.text)

    return emi

In [59]:
emi(url)

['1,780 sqft',
 '₹80,240/Month',
 '₹1.4 Crores',
 '2,200 sqft',
 '₹2.06 Lacs/Month',
 '₹3.6 Crores',
 '1,500 sqft',
 '₹65,911/Month',
 '₹1.15 Crores',
 '1,340 sqft',
 '₹74,508/Month',
 '₹1.3 Crores',
 '2,628 sqft',
 '₹1.72 Lacs/Month',
 '₹3 Crores']

In [60]:
def price(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    price=[]
    
    for i in soup.find_all('div',class_="font-semi-bold heading-6"):
        price.append(i.text)

    return price

In [61]:
price(url)

['1,780 sqft',
 '₹80,240/Month',
 '₹1.4 Crores',
 '2,200 sqft',
 '₹2.06 Lacs/Month',
 '₹3.6 Crores',
 '1,500 sqft',
 '₹65,911/Month',
 '₹1.15 Crores',
 '1,340 sqft',
 '₹74,508/Month',
 '₹1.3 Crores',
 '2,628 sqft',
 '₹1.72 Lacs/Month',
 '₹3 Crores']

# 9)  a python program to scrape mentioned details from https://www.dineout.co.in/delhi-restaurants/buffet-special

In [62]:
url=('https://www.dineout.co.in/delhi-restaurants/buffet-special')

In [63]:
def titles(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    titles=[]
    
    for i in soup.find_all('a', class_="restnt-name ellipsis"):
        titles.append(i.text)

    return titles

In [64]:
titles(url)

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'World Cafe',
 'Indian Grill Room',
 'Mad 4 Bar B Que',
 'Barbeque 29',
 'Glasshouse']

In [65]:
def cuisine(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    cuisine=[]
    
    for i in soup.find_all('span',class_="double-line-ellipsis"):
        cuisine.append(i.text.split()[7:])

    return cuisine

In [66]:
cuisine(url)

[['Indian,', 'Chinese'],
 ['Indian,', 'Asian,', 'Italian'],
 ['Continental'],
 ['North', 'Indian'],
 ['Indian,', 'Chinese'],
 ['Indian,', 'Italian'],
 ['Indian'],
 ['Indian,', 'Chinese'],
 ['Indian,', 'Chinese,', 'Continental'],
 ['Indian,', 'Mughlai'],
 ['Indian,', 'Mughlai'],
 ['Indian,', 'Chinese'],
 ['Italian,', 'Asian,', 'Continental']]

In [67]:
def location(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    location=[]
    
    for i in soup.find_all('div',class_="restnt-loc ellipsis"):
        location.append(i.text)

    return location

In [68]:
location(url)

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [69]:
def ratings(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    ratings=[]
    
    for i in soup.find_all('div',class_="restnt-rating rating-4"):
        ratings.append(i.text)

    return ratings

In [70]:
ratings(url)

['3.5',
 '3.9',
 '4.3',
 '3.9',
 '4',
 '3.9',
 '3.7',
 '3.9',
 '4.3',
 '4.3',
 '3.6',
 '4.2',
 '4.1']

In [71]:
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup=BeautifulSoup(page.content)
images=[]

for i in soup.find_all('img', class_="no-img"):
    images.append(i['data-src'])

images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/d/p549-15291237715b2493bb2a415.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

In [72]:
df=pd.DataFrame({'Restaurant Name':titles(url),'Cuisine':cuisine(url),'Location':location(url),'Rating':ratings(url),'Images':images})
df

,Restaurant Name,Cuisine,Location,Rating,Images
0,Castle Barbeque,"[Indian,, Chinese]","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"[Indian,, Asian,, Italian]","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,[Continental],"The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"[North, Indian]","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"[Indian,, Chinese]","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"[Indian,, Italian]","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,[Indian],"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"[Indian,, Chinese]","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"[Indian,, Chinese,, Continental]","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"[Indian,, Mughlai]","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,"[Indian,, Mughlai]","Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"[Indian,, Chinese]","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"[Italian,, Asian,, Continental]","DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

# 10)  a python program to scrape first 10 product details which include product name , price , Image URL fromhttps://www.bewakoof.com/women-tshirts?ga_q=tshirts

In [73]:
url=('https://www.bewakoof.com/women-tshirts?ga_q=tshirts')

In [74]:
def name(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    name=[]
    
    for i in soup.find_all('div', class_="productCardDetail "):
        name.append(i.text)

    return name

In [75]:
name(url)

[]

In [76]:
def price(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    price=[]
    
    for i in soup.find_all('span',class_="discountedPriceText "):
        price.append(i.text)

    return price

In [77]:
price(url)

[]

In [78]:
def images(x):
    page=requests.get(x)
    soup=BeautifulSoup(page.content)
    
    images=[]
    
    for i in soup.find_all('img', class_="productImgTag"):
        images.append(i['src'])

    return images

In [79]:
images(url)

['https://images.bewakoof.com/t320/inner-peace-half-sleeve-printed-t-shirts-black-women-s-half-sleeve-printed-t-shirt-295708-1604135493.jpg',
 'https://images.bewakoof.com/t320/sleepy-cat-half-sleeve-printed-t-shirts-black-women-s-half-sleeve-printed-t-shirt-295717-1603970467.jpg',
 'https://images.bewakoof.com/t320/peace-jerry-half-sleeve-printed-t-shirt-tjl-white-women-s-half-sleeve-printed-t-shirt-295801-1603465610.jpg',
 'https://images.bewakoof.com/t320/donut-worry-half-sleeve-t-shirt-pineapple-yellow-women-s-half-sleeve-printed-t-shirt-291941-1602573790.jpg',
 'https://images.bewakoof.com/t320/digital-teal-round-neck-t-shirt-women-s-half-sleeve-plain-t-shirt-292154-1604125781.jpg',
 'https://images.bewakoof.com/t320/all-we-have-half-sleeve-t-shirt-meteor-grey-women-s-half-sleeve-printed-t-shirt-287646-1601034494.jpg',
 'https://images.bewakoof.com/t320/simply-pawfect-half-sleeve-t-shirt-dl-tropical-blue-women-s-half-sleeve-printed-t-shirt-295812-1604292711.jpg',
 'https://images.bewakoof.com/t320/kolkata-biryani-boyfriend-t-shirt-women-s-printed-boyfriend-t-shirts-329659-1614078513.jpg',
 'https://images.bewakoof.com/t320/hobe-naki-ek-bar-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329660-1614078109.jpg',
 'https://images.bewakoof.com/t320/ray-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329664-1614079574.jpg']